<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Crushendo</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <img class="img-responsive" src="images/logo.png" />
  </div>
  <div id="main">
    <input id="seed-input" class="awesomplete form-control" />
    <ul class="list-group" id="seeds"></ul>
    <form id="seed-form"></form>
    <a class="btn btn-lg btn-primary" id="seed-submit">
    Submit
    </a>
    <script src="js/form.js"></script>
  </div>
</div>
