<div id="main" class="container center-block"></div>
<div id="footer">
  <div class="container">
    <p class="text-muted">
      Fork me on <a href="https://github.com/DoublePlusAwks/crushendo">Github</a>
    </p>
    <p class="text-muted">
      Icons courtesy of <a href="https://thenounproject.com/romzicon/">romzicon</a> and <a href="https://thenounproject.com/smashicons/">Oliviu Stoian</a> from the <a href="https://thenounproject.com/">Noun Project</a>.
    </p>
  </div>
</div>
<script src="js/form.js"></script>
