body  {
  background-color: #009688;
}

img {
  max-width:100%;
  max-height: 100%;
  margin: 0 auto;
}

.jumbotron  {
  background-color: #FFB74D;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
}

.autocomplete-suggestion img  {
  max-width: 64px;
  max-height: 64px;
}
