body  {
  background-color: #009688;
}

img {
  max-width:100%;
  max-height: 100%;
  margin: 0 auto;
}

iframe  {
  max-width:100%;
  max-height: 100%;
  margin: 20px auto;
  display:block;
}

.btn-primary  {
  color: #FFF;
  background-color: #FFB74D;
  border-color: #FFB74D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FFCC80;
  border-color: ##FFCC80;
}

.jumbotron  {
  background-color: #FFB74D;
  max-width: 50%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

#seed-input {
  margin: 20px auto;
}

.autocomplete-suggestion img  {
  max-width: 64px;
  max-height: 64px;
}
